.top_add_section {
    width: 100%;
    padding: 2% 1%;
    display: flex;
    flex-direction: column;
}

.btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 1%;
}

/* .btns a{
    color: inherit;
} */
a{
    color: white;
}

.add_btn {
    border: 2px solid #659581;
    background-color: #659581;
    font-size: small;
    color: #ffffff;
    float: left;
    padding: 13px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    margin-right: 1em;
}

.add_btn:hover {
    background-color: #ffffff;
    color: black;
}

#expand_add_btn {
    width: 99%;
    display: none;
    margin-top: 2%;
    background-color: #DDE8EC;
    padding: 2%;
    border-radius: 5px;
}
#letter{
    width: 11cm;
    min-height: 15cm;
    padding: 2cm;
    margin: 1cm auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 1px solid;
    transform: scale(0);
}

#letter.pop{
    transform: translate(-50%) scale(1);
}

#content{
    display: none;
}

#edit_view{
    display:none;
}

#content.show, #edit_view.show{
    display: block;
}