.search_bar {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    padding: 8px;
    overflow: hidden;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 1%; */
}

.search {
    display: inline-flex;
    width: 90%;
}

.search_bar i {
    padding: 1% 2%;
    font-size: medium;
}
.imp_icons {
    width: 10%;
    display: flex;
    padding-top: 0.8%;
}
.imp_icons a{
    margin:  0px auto;
}
.imp_icons a i {
    font-size: larger;
    padding: 1% 2%;
}

.imp_icons a:hover {
    color: red;
}

.search_bar .search_field {
    width: 100%;
    padding: 1% 0%;
    font-size: medium;
    border: 0;
    flex: 1;
    outline: none;
}
