.main_body {
    display: flex;
    flex-direction: column;
    position: none;
    position: relative;
    height: auto;
}

#contentBody{
    padding: 10px;
}






.left_body {
    /* display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 'left right'; */
    width: 68%;
    padding: 1%;
    /* border-right: 2px solid #707070; */
}

.right_body {
    display: grid;
    grid-template-columns: auto;
    width: 28%;
    padding: 1%;
}

.col-sm-12 {
    overflow: hidden;
}

.body_content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.top_contents {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 'left right';
    grid-gap: 5px;
    padding: 5% 2%;
    background-color: #DDE8EC;
    /* border-bottom: 2px solid #707070; */
}

.left_body .left_chart {
    grid-area: left;
    padding-left: 4%;
    padding-right: 4%;
}

.left_body .right_chart {
    grid-area: right;
    padding-left: 4%;
    padding-right: 2%;
}

.left_body .main_content {}

.item_body {
    margin-top: 2%;
    padding: 1% 5%;
    background-color: #DDE8EC;
}

.item {
    padding: 1%;
    background-color: #FFFFFF;
    margin-top: 2%;
    border-radius: 5px;
    clear: both;
}

.right_content {
    display: grid;
}

.right_content_analyze,
.right_content_calender {
    background-color: #DDE8EC;
    padding: 5% 5%;
    margin-bottom: 2%;
    border-radius: 5px;
}